<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="esprit.tn.farmily">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Splash"></activity>
        <activity
            android:name=".fields.MyFields"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fields.ActivityCricketers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fields.AddFields"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.HireRequest.HIre_req"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.Profiles.Header"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.MyEngineerDisplay.Myengineer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.MyEngineerDisplay.Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.hireEngineer.Hire"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feed.com_display"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feed.AddPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.Profiles.profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.Profiles.profileeng"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.showfileds"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notification.notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messages.messages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.profile2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feed.feed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginrRegister.signUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onbording.getStarted"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginrRegister.login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onbording.onboarding_three"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onbording.onboarding_two"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onbording.onboarding_one"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>